section.hero {
    background: linear-gradient(180deg, rgba(0, 118, 255, 0.20) -111.73%, rgba(255, 255, 255, 0));
    .container {
        margin-top: 125px;
        .desc {
            .play-btn {
                margin-left: 1rem;
                font-weight: 600;
                color: #333;
            }
        }
        .images {
            img {
                width: 215px;
                height: 215px;
                border-radius: 15px;
                margin: 7.5px;
            }
        }
    }
}

section.question {
    .container {
        .images {
            img {
                width: 340px;
                height: 420px;
                border-radius: 5px;
            }
        }
    }
}

section.doctors {
    .container {
        .list-doctors {
            .doctor-group {
                margin-left: 15px;
                .doctor.active {
                    border: none;
                    box-shadow: 30px 56px 120px -5px rgba(51, 51, 51, 0.07);
                }
                .doctor {
                    width: 250px;
                    padding: 17.5px;
                    margin-bottom: 20px;
                    display: flex;
                    flex-direction: column;
                    border: 1px solid #e0e0e0;
                    border-radius: 20px;
                    img {
                        width: 50px;
                        height: 50px;
                    }
                    p {
                        width: auto;
                    }
                    .name {
                        font-size: 19px;
                        font-weight: 600;
                        margin: 10px 0;
                        margin-bottom: 0;
                    }
                    .role {
                        margin-top: 5px;
                        font-size: 12px;
                        color: #808080;
                        font-weight: 600;
                    }
                    .desc {
                        margin-top: -7.5px;
                        margin-bottom: 7.5px;
                        color: #999999;
                        font-size: 14px;
                        line-height: 26px;
                    }
                }
            }
            .doctor-group:nth-child(1) {
                margin-top: 60px;
            }
        }
    }
}

section.how {
    .container {
        .desc {
            .features {
                .feature.active {
                    box-shadow: 73px 56px 149px -5px rgba(51, 51, 51, 0.19);
                }
                .feature {
                    padding: 17.5px;
                    display: flex;
                    margin-bottom: 20px;
                    border-radius: 15px;
                    .icon {
                        align-self: flex-start;
                    }
                    .feature-desc {
                        margin-left: 15px;
                        .title {
                            color: #333;
                            font-weight: 600;
                            font-size: 20px;
                            margin: 0;
                        }
                        .desc {
                            color: #999;
                        }
                    }
                }
            }
        }
        .images {
            img {
                width: 340px;
                height: 420px;
                border-radius: 5px;
            }
        }
    }
}

section.experience {
    .container {
        .desc {
            width: 740px;
            text-align: left;
            margin-bottom: 20px;
        }
        .images {
            height: auto;
            img {
                width: 350px;
                height: 450px !important;
                overflow: hidden;
                border-radius: 10px;
            }
        }
        .slider {
            margin-top: 40px;
            .indicator.active {
                width: 44px;
                border-radius: 4px;
                background-color: $primary-color;
            }
            .indicator {
                width: 7px;
                height: 7px;
                border-radius: 50%;
                margin-left: 8px;
                background-color: #DBDEE1;
            }
        }
    }
}

section.testimonial {
    .container {
        .desc {
            width: 100%;
            position: relative;
            text-align: center;
            .decorations {
                width: 100%;
                img {
                    position: absolute;
                    z-index: -99;
                }
                img:nth-child(1) {
                    width: 50px;
                    height: 50px;
                    left: 0;
                    top: 30px;
                }
                img:nth-child(2) {
                    right: 0;
                    top: 20px
                }
                img:nth-child(3) {
                    top: 50%;
                    transform: translate(-50%, -50%);
                    opacity: .225;
                }
            }
            .quotes-text {
                color: #333;
                opacity: .5;
                width: 650px;
                margin: auto;
                line-height: 32px;
                margin-top: 40px;
                margin-bottom: 50px;
            }
            .user {
                .user-images {
                    display: flex;
                    align-items: center;
                    width: 700px;
                    margin: auto;
                    img {
                        margin: auto;
                        width: 57.5px;
                        height: 57.5px;
                        opacity: .7;
                    }
                    img.active {
                        width: 80px;
                        opacity: 1;
                        height: 80px
                    }
                    img.smallest {
                        width: 42.5px;
                        height: 42.5px;
                    }
                }
                .user-name {
                    margin-top: 40px;
                    font-size: 21px;
                    font-weight: 700;
                    color: #333;
                }
                .user-role {
                    color: #333;
                    margin-top: -10px;
                    opacity: .6;
                }
            }
        }
    }
}

section.contact {
    .container {
        .body {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            border-radius: 20px;
            padding: 40px 60px;
            background-color: $primary-color;
            margin: auto;
            width: 100%;
            h2 {
                color: #fff;
                font-weight: 600;
                width: 450px;
            }
            .contact-btn {
                &:hover,
                &:focus {
                    border: 1px solid #fff !important;
                    background-color: transparent;
                    color: #fff
                }
            }
        }
    }
}

section.footer {
    align-items: flex-start;
    background-color: #F8F9FA;
    .container {
        margin-top: 55px;
        display: flex;
        align-items: flex-start;
        .foxycare {
            width: 230px;
            display: flex;
            flex-direction: column;
            .footer-brand {
                font-weight: 700;
                font-family: 'Roboto', sans-serif;
                font-size: 18px;
                img {
                    width: 35px;
                    height: 35px;
                    object-fit: contain;
                    margin-right: 7.5px;
                }
            }
            .text {
                color: #77808B;
                margin: 20px 0;
                font-family: 'Roboto', sans-serif;
            }
            .sci {
                width: 100%;
                display: flex;
                align-items: center;
                .sci-icon {
                    background-color: $primary-color;
                    border-radius: 50%;
                    color: #fff;
                    font-weight: 600;
                    margin-right: 20px;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    font-size: 14px;
                }
            }
        }
        .feature {
            .title {
                font-weight: 700;
                color: $primary-color;
                font-family: 'Raleway', sans-serif;
            }
            .features {
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                color: #77808B;
                .features-icon {
                    display: flex;
                    .icon {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {
    section.hero {
        .container {
            margin-top: 100px;
            .desc {
                .play-btn {
                    display: block;
                    margin: 10px auto;
                }
            }
            .images {
                margin-top: 40px;
                flex-direction: column;
                .img-group {
                    flex-direction: row !important;
                }
                img {
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }
    section.question {
        .container {
            .images {
                margin-bottom: 20px;
                img {
                    max-width: 100%;
                    height: 200px;
                }
            }
        }
    }
    section.doctors {
        .container {
            .list-doctors {
                flex-direction: column;
                .doctor-group {
                    margin-left: 0;
                    .doctor {
                        .name {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
    section.how {
        .container {
            .desc {
                order: 2;
                .features {
                    .feature {
                        .feature-desc {
                            .title {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
            .images {
                margin-bottom: 20px;
                order: 1;
                img {
                    max-width: 100%;
                    height: 200px;
                }
            }
        }
    }
    section.experience {
        .container {
            .images {
                img {
                    max-width: 100%;
                }
            }
        }
    }
    section.testimonial {
        .container {
            .desc {
                .quotes-text {
                    width: 100%;
                    margin: 27.5px 0
                }
                .user {
                    .user-images {
                        width: 100%;
                        img.active {
                            display: block;
                        }
                        img {
                            display: none;
                        }
                    }
                    .user-name {
                        margin-top: 20px;
                        margin-bottom: 12.5px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
    section.contact {
        .container {
            .body {
                flex-direction: column;
                padding: 35px;
                h2 {
                    line-height: 28px;
                    text-align: center;
                    font-size: 16px;
                    width: 100%;
                    margin-bottom: 25px;
                }
            }
        }
    }
    section.footer {
        margin-bottom: 0;
        .container {
            .foxycare,
            .feature {
                margin-bottom: 40px;
            }
        }
    }
}

@media (max-width: 768px) {}

@media (max-width: 576px) {}